body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #001a17;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn {
  outline-color: transparent;
  letter-spacing: 1px;
}
.btn__full:link, .btn__full:visited {
  padding: 0.8rem 3.2rem;
  border: solid 3px #087f73;
  border-radius: 100px;
  font-size: 2rem;
  font-weight: 600;
  background-color: #087f73;
  color: white;
}
.btn__full:hover {
  color: #087f73;
  background-color: white;
}
.btn__full:active {
  background-color: #e7fffd;
}
.btn__outline:link, .btn__outline:visited {
  padding: 0.8rem 3.2rem;
  border: solid 3px #087f73;
  color: #087f73;
  border-radius: 100px;
  font-size: 2rem;
  font-weight: 600;
}
.btn__outline:hover {
  color: white;
  background-color: #087f73;
}
.btn__outline:active {
  background-color: #0ca694;
  border-color: #0ca694;
}

.header {
  display: grid;
  gap: 2rem;
  padding-top: 1.8rem;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__icon {
  height: 7rem;
  width: auto;
  fill: #087f73;
}
.logo__text {
  text-transform: uppercase;
  color: #087f73;
  line-height: 1;
}
.logo__text-formate {
  font-size: 5.55rem;
  font-weight: 600;
}
.logo__text-sub {
  font-weight: 500;
  font-size: 2rem;
}

.access {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 3.5rem;
  color: #087f73;
}
.access__login {
  color: inherit;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
  -webkit-transition: -webkit-text-decoration 2s;
  transition: -webkit-text-decoration 2s;
  -o-transition: text-decoration 2s;
  transition: text-decoration 2s;
  transition: text-decoration 2s, -webkit-text-decoration 2s;
  font-size: 2rem;
}
.access__login:hover {
  color: #0ca694;
}
.access__login:active {
  color: #006256;
}
.access__plan {
  color: inherit;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__btn {
  padding: 0.3rem 3rem;
  font-size: 2.2rem;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 2.2rem;
  color: white;
  font-weight: 600;
}
.nav__btn--red:link, .nav__btn--red:visited {
  background-color: #ff6b6b;
  border: solid 3px #ff6b6b;
}
.nav__btn--red:link:hover, .nav__btn--red:visited:hover {
  background-color: white;
  color: #ff6b6b;
  border: solid 3px #ff6b6b;
}
.nav__btn--red:link:active, .nav__btn--red:visited:active {
  background-color: #fff2f2;
}
.nav__btn--orange:link, .nav__btn--orange:visited {
  background-color: #ff922b;
  border: solid 3px #ff922b;
}
.nav__btn--orange:link:hover, .nav__btn--orange:visited:hover {
  background-color: white;
  color: #ff922b;
  border: solid 3px #ff922b;
}
.nav__btn--orange:link:active, .nav__btn--orange:visited:active {
  background-color: #fff5ed;
}
.nav__btn--yellow:link, .nav__btn--yellow:visited {
  background-color: #fcc419;
  border: solid 3px #fcc419;
}
.nav__btn--yellow:link:hover, .nav__btn--yellow:visited:hover {
  background-color: white;
  color: #fcc419;
  border: solid 3px #fcc419;
}
.nav__btn--yellow:link:active, .nav__btn--yellow:visited:active {
  background-color: #fdfbeb;
}
.nav__btn--green:link, .nav__btn--green:visited {
  background-color: #20c997;
  border: solid 3px #20c997;
}
.nav__btn--green:link:hover, .nav__btn--green:visited:hover {
  background-color: white;
  color: #20c997;
  border: solid 3px #20c997;
}
.nav__btn--green:link:active, .nav__btn--green:visited:active {
  background-color: #ebfff9;
}
.nav__btn--blue:link, .nav__btn--blue:visited {
  background-color: #339af0;
  border: solid 3px #339af0;
}
.nav__btn--blue:link:hover, .nav__btn--blue:visited:hover {
  background-color: white;
  color: #339af0;
  border: solid 3px #339af0;
}
.nav__btn--blue:link:active, .nav__btn--blue:visited:active {
  background-color: #ebf6ff;
}
.nav__btn--purple:link, .nav__btn--purple:visited {
  background-color: #845ef7;
  border: solid 3px #845ef7;
}
.nav__btn--purple:link:hover, .nav__btn--purple:visited:hover {
  background-color: white;
  color: #845ef7;
  border: solid 3px #845ef7;
}
.nav__btn--purple:link:active, .nav__btn--purple:visited:active {
  background-color: #f2eeff;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
.main__headline {
  font-family: Rubik;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 2.5rem;
  color: #087f73;
  line-height: 1.2;
  letter-spacing: 1.4px;
}
.main__text {
  font-family: Rubik;
  max-width: 48ch;
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 4.5rem;
}
.main__img-box {
  display: grid;
  justify-items: end;
}
.main__img-asset {
  width: 90%;
  height: auto;
}

.intro {
  background-image: url(/Assets/img/intro-bg-green.jpg);
  background-size: cover;
  height: 98vh;
}

.container {
  height: 100%;
  padding: 0 8rem 2rem 8rem;
  gap: 7rem;
  display: grid;
  grid-template-rows: minmax(9rem, 12%) 1fr;
  color: #fbfffe;
}

.landing-logo {
  align-self: end;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 1.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing-logo__icon {
  height: 5.9rem;
  width: auto;
}
.landing-logo__text {
  text-transform: uppercase;
  color: #b6dbd6;
  line-height: 1;
}
.landing-logo__text-formate {
  font-size: 4.6rem;
  font-weight: 600;
  margin-bottom: 3px;
}
.landing-logo__text-sub {
  font-weight: 400;
  font-size: 1.7rem;
}

.intro-presentation {
  -ms-flex-item-align: center;
      align-self: center;
}
.intro-presentation__headline {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4.8rem;
  margin-bottom: 5rem;
  line-height: 1.2;
  letter-spacing: 1.6px;
}
.intro-presentation__text {
  max-width: 48ch;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 7rem;
}
.intro-presentation__btn:link, .intro-presentation__btn:visited {
  padding: 0.8rem 4rem;
  border: solid 3px #fbfffe;
  color: #fbfffe;
  border-radius: 100px;
  font-size: 2.2rem;
  font-weight: 600;
}
.intro-presentation__btn:hover {
  color: #046746;
  background-color: #fbfffe;
}
.intro-presentation__btn:active {
  background-color: rgba(251, 255, 254, 0.7);
}
.intro-presentation__arrow {
  justify-self: center;
}
.intro-presentation__arrow--icon {
  height: 1rem;
  width: auto;
}

.home-page {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}