body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #001a17;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  outline-color: transparent;
  letter-spacing: 1px;
}
.btn__outline:link, .btn__outline:visited {
  padding: 0.8rem 3.2rem;
  border: solid 3px #087f73;
  border-radius: 100px;
  font-weight: 600;
}
.btn__outline:hover, .btn__outline:active {
  color: white;
  background-color: #087f73;
}

.header {
  display: grid;
  gap: 2rem;
  padding-top: 1.8rem;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__icon {
  height: 7rem;
  width: auto;
  fill: #087f73;
}
.logo__text {
  text-transform: uppercase;
  color: #087f73;
  line-height: 1;
}
.logo__text-formate {
  font-size: 5.55rem;
  font-weight: 600;
}
.logo__text-sub {
  font-weight: 500;
  font-size: 2rem;
}

.access {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 3.5rem;
  font-size: 2rem;
  color: #087f73;
}
.access__login {
  color: inherit;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
  -webkit-transition: -webkit-text-decoration 2s;
  transition: -webkit-text-decoration 2s;
  -o-transition: text-decoration 2s;
  transition: text-decoration 2s;
  transition: text-decoration 2s, -webkit-text-decoration 2s;
}
.access__login:hover {
  color: #0ca694;
}
.access__login:active {
  color: #006256;
}
.access__plan {
  color: inherit;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .btn {
  text-transform: uppercase;
  font-size: 2.2rem;
  color: white;
  font-weight: 600;
}
.nav__btn {
  padding: 0.2rem 3.4rem;
  font-size: 2.2rem;
  border-radius: 100px;
}
.nav__btn--red {
  background-color: #ff6b6b;
  border: solid 3px #ff6b6b;
}
.nav__btn--red:hover {
  background-color: white;
  color: #ff6b6b;
  border: solid 3px #ff6b6b;
}
.nav__btn--orange {
  background-color: #ff922b;
  border: solid 3px #ff922b;
}
.nav__btn--orange:hover {
  background-color: white;
  color: #ff922b;
  border: solid 3px #ff922b;
}
.nav__btn--yellow {
  background-color: #fcc419;
  border: solid 3px #fcc419;
}
.nav__btn--yellow:hover {
  background-color: white;
  color: #fcc419;
  border: solid 3px #fcc419;
}
.nav__btn--green {
  background-color: #20c997;
  border: solid 3px #20c997;
}
.nav__btn--green:hover {
  background-color: white;
  color: #20c997;
  border: solid 3px #20c997;
}
.nav__btn--blue {
  background-color: #339af0;
  border: solid 3px #339af0;
}
.nav__btn--blue:hover {
  background-color: white;
  color: #339af0;
  border: solid 3px #339af0;
}
.nav__btn--purple {
  background-color: #845ef7;
  border: solid 3px #845ef7;
}
.nav__btn--purple:hover {
  background-color: white;
  color: #845ef7;
  border: solid 3px #845ef7;
}