body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #001a17;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  outline-color: transparent;
}
.btn__outline:link, .btn__outline:visited {
  padding: 1.2rem 3.6rem;
  border: solid 3px #008479;
  border-radius: 100px;
  font-weight: 600;
}

.header {
  display: grid;
  gap: 3rem;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__icon {
  height: 7rem;
  width: auto;
  fill: #008479;
}
.logo__text {
  text-transform: uppercase;
  color: #008479;
  line-height: 1;
}
.logo__text-formate {
  font-size: 5.4rem;
}
.logo__text-sub {
  font-weight: 500;
  font-size: 2rem;
}

.access {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 5rem;
  font-size: 2rem;
  color: #008479;
}
.access__login {
  color: inherit;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
}
.access__cta-plan {
  color: inherit;
}