.header {
  display: grid;
  gap: 2rem;
  padding-top: 1.8rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  //   background-color: aquamarine;
}

.logo {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  align-items: center;
  //   background-color: red;

  &__icon {
    height: 7rem;
    width: auto;
    fill: $color-primary;
    // background-color: yellow;
  }

  &__text {
    text-transform: uppercase;
    color: $color-primary;
    // background-color: rgba(0, 0, 255, 0.392);
    line-height: 1;

    &-formate {
      font-size: 5.55rem;
      font-weight: 600;
      //   background-color: rgba(255, 192, 203, 0.451);
    }
    &-sub {
      font-weight: 500;
      font-size: 2rem;
    }
  }
}

.access {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-content: center;
  gap: 3.5rem;
  //   background-color: beige;
  font-size: 2rem;
  color: $color-primary;

  &__login {
    color: inherit;
    align-self: center;
    font-weight: 600;
    transition: text-decoration 2s;
    &:hover {
      //   text-decoration: underline;
      color: $color-primary-light-1;
    }
    &:active {
      color: $color-primary-dark-1;
    }
  }

  &__plan {
    color: inherit;
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &__btn {
    padding: 0.3rem 3rem;
    font-size: 2.2rem;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: white;
    font-weight: 600;

    &--red:link,
    &--red:visited {
      background-color: $color-menu-red;
      border: solid 3px $color-menu-red;
      &:hover {
        background-color: white;
        color: $color-menu-red;
        border: solid 3px $color-menu-red;
      }
      &:active {
        background-color: #fff2f2;
      }
    }
    &--orange:link,
    &--orange:visited {
      background-color: $color-menu-orange;
      border: solid 3px $color-menu-orange;
      &:hover {
        background-color: white;
        color: $color-menu-orange;
        border: solid 3px $color-menu-orange;
      }
      &:active {
        background-color: #fff5ed;
      }
    }
    &--yellow:link,
    &--yellow:visited {
      background-color: $color-menu-yellow;
      border: solid 3px $color-menu-yellow;
      &:hover {
        background-color: white;
        color: $color-menu-yellow;
        border: solid 3px $color-menu-yellow;
      }
      &:active {
        background-color: #fdfbeb;
      }
    }
    &--green:link,
    &--green:visited {
      background-color: $color-menu-green;
      border: solid 3px $color-menu-green;
      &:hover {
        background-color: white;
        color: $color-menu-green;
        border: solid 3px $color-menu-green;
      }
      &:active {
        background-color: #ebfff9;
      }
    }
    &--blue:link,
    &--blue:visited {
      background-color: $color-menu-blue;
      border: solid 3px $color-menu-blue;
      &:hover {
        background-color: white;
        color: $color-menu-blue;
        border: solid 3px $color-menu-blue;
      }
      &:active {
        background-color: #ebf6ff;
      }
    }
    &--purple:link,
    &--purple:visited {
      background-color: $color-menu-purple;
      border: solid 3px $color-menu-purple;
      &:hover {
        background-color: white;
        color: $color-menu-purple;
        border: solid 3px $color-menu-purple;
      }
      &:active {
        background-color: #f2eeff;
      }
    }
  }
}
