.btn {
  outline-color: transparent;
  letter-spacing: 1px;

  &:link,
  &:visited {
  }

  &:hover,
  &:active {
  }

  &__full:link,
  &__full:visited {
  }

  &__outline:link,
  &__outline:visited {
    padding: 0.8rem 3.2rem;
    border: solid 3px $color-primary;
    border-radius: 100px;
    font-weight: 600;
  }

  &__outline:hover,
  &__outline:active {
    color: white;
    background-color: $color-primary;
  }
}
